body {
    background-image: url(../assets/3592227.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    margin-left: 38%;
    margin-top: 50px;
}

form {
    width: 35%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: rgba(97, 97, 97, 0.8);
    color: white;
    padding-left: 5%;
    padding-right: 3%;
    padding-top: 25px;
    padding-bottom: 60px;
    border-radius: 100px;
}

.input-el {
    width: 90%;
    height: 50px;
    background-color: white;
    color: black;
    margin-bottom: 20px;
    padding-left: 15px;
    border: none;
    border-radius: 10px;
}

select, button {
    width: 95% !important;
}

.formBtn1{
    border-radius: 10px;
    background-color: #002222;
}

.formBtn2{
    border-radius: 10px;
    border: solid 2px #DBAD55;
    background-color: #004040;
    margin-left: -35px;
}

.signUp-Btn{
    width: 150px;
    height: 60px;
    float: left;
}

.signIn-Btn{
    width: 135px;
    height: 40px;
    border-radius: 10px;
    float: right;
}