html, body{
    margin: 0;
    padding: 0;
    background-color: #000900;
}

.full-height{
    height: 900px;
}

.hero-image {
    height: 900px; 
    position: relative;
    width: 150%;
    margin-left: -3%;
}

.second{
    height: 900px; 
    position: relative;
    width: 150%;
    margin-left: -3%;
}

.third{
    height: 900px; 
    position: relative;
    width: 150%;
    margin-left: -3%;
}

.logo{
    margin-left: 50%;
    height: 100px;
    width: 3%;
    margin-top: -0.5%;
}

.logo :hover{
    opacity: 10%;
}

button{
    border: none;
    padding: 16px 20px;
    border-radius: 8px;
    background: #18382B;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
    
}

.nav-link{
    font-family: 'Lato', sans-serif;
    color: rgba(255, 255, 255, 0.895);
    float: left;

}

.nav-link:hover{
    color: rgb(189, 170, 0);
    float: left;
    
}


.nav-link.active{
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    float: left;
    background-color: rgba(255, 255, 255, 0.036);
    
}

nav{
    width: 100%;
    height: 9%;
    background-color: #004040;
}

.container{
    margin-left: 1%;
    margin-top: -8%;
    
}

.box{
    margin-left: -55%;
    margin-top: 10%;
    background-color: #ffffff;
    color: #ffffff;
    padding: 2%;
    border-radius: 25px;
    width: 600px;
   }
 
   table, th, td {
     border: 3px solid;
   }
 
   table {
     width: 60%;
     margin-top: 2%;
     text-align: center;
     margin-left: 18%;
     color: #ffffff;
     background-color: #003e105f;
     padding: 5%;
   }
 
 .watchlistheader{
     color: #ffffff;
     text-align: center;
     margin-top: 5%;
 }

 .image{
    margin-left: 1%;
 }

 .containermovies{
    text-align: center;
    
}

.titlemovies h3{
    margin-left: 5%;
    margin-top: 7%;
}

footer{
    height: 6%;
    background-color: #004040;
    margin-top: 5%;
    color: #ffffffb4;
}

.icony{
    margin-bottom: 1%;
    margin-left: 1%;
    
  }

  .iconf{
    margin-bottom: 1%;
    margin-left: 3%;
    color: #ffffffb4;
  }

  .icont{
    margin-bottom: 1%;
    margin-left: 1%;
    color: #ffffffb4;
  }

  .iconi{
    margin-left: 3%;
    color: #ffffffb4;
  }
  
  .globefoot{
    text-align: center;
    margin-top: 1%;
    color: #ffffffb4;
  }
